body {
    font-family: Verdana;
}
.block {
    display: block;
    width: 200px;
    height: 50px;
    background-color: lightcoral;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;

}
.inline {
    display: inline;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
}
.inline-block {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: lightblue;
    margin: 10px;
    text-align: center;
    line-height: 50px;
}